@media screen and (max-width:600px) {
    header {
        background-attachment: local;
    }

    footer {
        display: none;
    }

    .ajuda {
        display: none;
    }

    nav {
        justify-content: center;
    }

    h1 {
        margin-right: 100px;
    }

    .iniciar {
        justify-content: center;
        text-align: center;
    }

    .start {
        margin-left: 22px;
    }

    .question {
        margin-top: 50px;
        
    }

    .resposta {
    
        width: 300px;
    
    }

    .alternativas {
        font-size: 20px;
    }

    .respbotao {
        font-size: 20px;
    }

    .principal {
        height: 700px;
        background-attachment: local;
    }

    .voltar {
        display: none;
    }

    .botaovoltar {
        display: none;
    }

    h2 {
        font-size: 30px;
    }

    .balao {
        position: relative;
        width: 250px;
        margin-right: 340px;
        margin-top: 200px;
    }

    .iniciar {
        padding-bottom: 150px
    }

    .start:hover {
        padding: 20px 40px;
        background-image: radial-gradient(rgb(32, 170, 235), rgb(19, 19, 160));
    }



}